#latest{
scroll-margin-top: 120px;
}
#latest h2 {
  font-size: 40px;
  margin-bottom: 100px;
}
.latestContent{
  display: flex;
  flex-direction: column;
  gap:100px;
}
.latestBox{
display: flex;
flex-direction: row;
gap: 80px;
align-items: center;
}
.r{
  border-top: solid 1px black;
  padding-top: 100px;
  flex-direction: row-reverse;
}
.latestBoxDescription{
  font-size: 22px;
  font-weight: 500;
}
.latestBox img{
  width: 310px;
  height: 310px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.5);
}